<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List all product</title>
</head>
<body>
        <article>
           <%  Products.map((data)=>{ %>
                 <img src="<%= data.url %>" alt="" srcset=""  height="200px" width="200px">
                <h1>Name :  <%= data.Pname %></h1>
                <h4>Price : <%= data.Pprice %></h4>
                <aside>
                    <button><a href="/product/<%=data.Pid%>">Show</a></button>
                    <button><a href="/product/<%= data.Pid %>/edit">Edit</a></button>


                    <form action="/product/<%= data.Pid%>?_method=DELETE" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </aside>

            <% }) %>
        </article>

</body>
</html>
  