<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <form action="/product/<%= e[0]._id%>/edit?_method=PUT" method="post">
        <label for="">Name</label>
        <input type="text" name="Ename" id="" value="<%= e[0].name %>">
        <br>
        <label for="">Price</label>
        <input type="number" name="Eprice" id="" value="<%= e[0].price%>">
        <br>
        <label for="">Rating</label>
        <input type="number" name="Erating" id=""
        min="1" max="5" value="<%= e[0].rating%>">
        <br>
        <label for="">img</label>
        <input type="text" name="Eimg" id=""
        value="<%= e[0].img %>">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>